
<%= include_theme_css %>

<%
  active_material_types = []
  if @accession.material_types
    JSONModel(:material_types).schema["properties"].select{|_,v| v["type"] == "boolean"}.each do |material_type,_|
      if @accession.material_types[material_type]
        active_material_types << I18n.t("plugins.material_type.#{material_type}", :default => material_type)
      end
    end
  end

  authors = []
  publishers = []
  ASUtils.wrap(@accession.linked_agents).each do |linked_agent|
    if linked_agent["role"] == "creator"
      if linked_agent["relator"] == "aut"
        authors << linked_agent["_resolved"]["title"]
      end
    end
    if linked_agent["relator"] == "pbl"
      publishers << linked_agent["_resolved"]["title"]
    end
  end

  publication_years = []
  ASUtils.wrap(@accession.dates).each do |date|
    if date["label"] == "publication"
      if date["begin"]
        publication_years << date["begin"][0..3]
      elsif date["end"]
        publication_years << date["end"][0..3]
      else
        publication_years << date["expression"]
      end
    end
  end

  payment_fund_codes = []
  if @accession.payment_summary
    ASUtils.wrap(@accession.payment_summary["payments"]).each do |payment|
      payment_fund_codes << payment["fund_code"]
    end
  end
%>


<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-6"><%= Time.now.strftime('%d %b %Y') %></div>
        <div class="col-xs-6"><%= @accession.created_by %></div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-4">
          <%= @accession.id_1 %>
        </div>
        <div class="col-xs-4 text-center">
          <% if @accession.user_defined && (bibid = @accession.user_defined["string_2"]) %>
            <%= bibid %>
          <% end %>
        </div>
        <div class="col-xs-4 text-right"><%= Date::strptime(@accession.accession_date, "%Y-%m-%d").strftime('%d %b %Y') %></div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= active_material_types.sort.join(', ') %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12 text-center">IN-PROCESS SHEET -- <%= current_repo['repo_code'] %></div>
      </div>

      <br>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">Adds to:</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">To conservation for:</div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <% unless authors.empty? %>
            <%= authors.uniq.sort.join("; ") %>
          <% else %>
            <br>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11 col-xs-push-1"><%= @accession["title"] %></div>
      </div>
      <div class="row">
        <div class="col-xs-11 col-xs-push-1">
          <% place = @accession.user_defined ? @accession.user_defined["string_3"] : nil %>
          <% publisher_info = [publishers.uniq.sort.join(", "), publication_years.uniq.sort.join(', ')].reject(&:empty?).join(', ') %>
          <%= [place, publisher_info].reject(&:blank?).join(': ') %>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-11 col-xs-push-1">TODO Other Biblio Fields as determined</div>
      </div> -->

      <br>
      <br>

      <div class="row">
        <div class="col-xs-12">
          <% if @accession.user_defined && (citation = @accession.user_defined["text_5"]) %>
            <%== preserve_newlines(citation) %>:
          <% else %>
            <br>
          <% end %>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12">
          FUND: <%= payment_fund_codes.uniq.sort.join(", ") %>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12">Plating Information:</div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12">
          <% if @accession.user_defined && (plating_info = @accession.user_defined["text_4"]) %>
            <%== preserve_newlines(plating_info) %>
          <% else %>
            <br>
            <br>
          <% end %>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12">Notes:</div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12">
          <% if @accession.general_note %>
            <%== preserve_newlines(@accession.general_note) %>
          <% else %>
            <br>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
